<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximumscale=1.0, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Plataforma PREDEV</title>
    <link rel="stylesheet" href="../../source/css/materialize.min.css">
    <link rel="stylesheet" href="../../source/css/predev.css">
    <link rel="stylesheet" href="../../source/fonts/fontawesome-5.9.0-web/css/all.min.css">
</head>

<body>
    <main>
        <div class="row">

            <div class="col l3  blue hide-on-med-and-down">
                    
                <br>
            </div>

            <div class="col l9 m12 s12 grey">
                    <a href="#" class=" hide-on-large-only"><i class="fas fa-list"></i></a>
                <br>
            </div>

        </div>
    </main>

    <script src="../source/js/jquery-3.4.1.min.js"></script>
    <script src="../source/js/materialize.min.js"></script>
</body>

</html>