<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximumscale=1.0, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Plataforma PREDEV</title>
    <link rel="stylesheet" href="../source/css/materialize.min.css">
    <link rel="stylesheet" href="../source/css/predev.css">
    <link rel="stylesheet" href="../source/fonts/fontawesome-5.9.0-web/css/all.min.css">
    <link rel="stylesheet" href="../source/css/home.css">
    <link rel="stylesheet" href="../source/css/header.css">
</head>

<body>
    <!-- <header-component></header-component> -->
    <header>
        <ul id="signIn" class="dropdown-content">
            <li><a class="black-text">REGISTRARSE</a></li>
            <li class="divider"></li>
            <li><a class="black-text" href="#!">INICIAR SESIÓN</a></li>
        </ul>

        <div class="navbar-fixed">
            <nav role="navigation" class="header-color">
                <div class="nav-wrapper">
                    <a href="#" id="logo-container" class="brand-logo "><img class="logo_img"
                            src="../source/img/PREDEV.png"></a>
                    <ul class="right hide-on-med-and-down ">
                        <li class="active"><a class="active-a" href="#"><i class="fas fa-home tiny"></i> INICIO</a></li>
                        <li><a class="a-nav tooltipped" data-position="button" data-tooltip="Discriminación en Veracruz"
                                data-delay="50" href="#"><i class="fas fa-chart-pie tiny"></i> ESTADISTICAS</a></li>
                        <li><a class="a-nav tooltipped" data-position="button"
                                data-tooltip="Instituciones colaboradoras" data-delay="50" href="#"><i class="fas fa-hands-helping tiny"></i> COLABORACIONES</a>
                        </li>
                        <li><a class="dropdown-button li-login" href="#!" data-activates="signIn"><i
                                    class="fas fa-user-lock"></i><i class="left fas fa-caret-down"></i></a></li>
                        <li>
                            <div class="divider"></div>
                        </li>
                    </ul>
                    <ul id="nav-mobile" class="sidenav hide-on-large-only">
                        <li><a href="#" data-target="nav-mobile" class="a.nav hide-on-large-only dropdown-button"
                                data-activates="signIn2"><i class="fas fa-list"></i></a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>

    <main>
    </main>

    <footer-component></footer-component>

    <script src="../source/js/jquery-3.4.1.min.js"></script>
    <script src="../source/js/materialize.min.js"></script>
    <script src="../source/helper/footer-component.js"></script>
</body>

</html>