<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../source/css/materialize.min.css">
    <link rel="stylesheet" href="../source/css/predev.css">
</head>

<body>

    <header></header>
    <main></main>

    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col s4">
                    <img src="../source/img/PREDEV.png" height="50" width="150">
                    <p class="font-color-gray">
                        PREDEV Es una plataforma para la monitorización y prevención de la discriminación del estado de Veracruz.
                    </p>
                    <div class="divider"></div>
                    <div class="pt-5"><strong class="text-footer-item">UNETE A </strong><strong class="text-footer-item font-color-green">NOSOTROS</strong></div>
                </div>

                <div class="col s4">

                </div>

                <div class="col s4">

                </div>

            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2019 Copyright Todos los derechos reservados por AirSoft.
                <a class="grey-text text-lighten-4 right" href="#!">Contactanos</a>
            </div>
        </div>
    </footer>

    <script src="../source/js/jquery-3.4.1.min.js"></script>
    <script src="../source/js/materialize.min.js"></script>
</body>

</html>