.caseSelected{
    color: orangered;
}

#caseSelected{
    color: red;
}

.round-button{
    width: 30px;
    height: 30px;
}

.action-button{
    font-size: 15px !important;
    margin-top: -5px;
    position: absolute;
}