.edittext{
	font-size: 25px;
	font-weight: bold;
	margin-left:50px;
}
.edittext1{
	font-size: 25px;
	font-weight: bold;
	margin-left:550px;
	margin-top: -40px;
}
.row{
	margin-left: 150px;
	margin-top: -140px;

}
.listadatos{
	margin-left: 50px;
	font-weight: bold;
}

