.page-footer{
    background-color: #091426 !important
  }

  .text-footer-item{
    letter-spacing: 2px;
    margin-bottom: 18px;
    text-transform: uppercase
  }

  .btn-register{
    margin-top: 5px;
    background-color: #155FFF;
    width: 131px;
    padding-left: 15px;
    border-radius: 12px;
  }

  .btn-register:hover{
    background: #64e500 !important;
  }

  .social-icon{
    width: 35px;
    height: 35px;
    padding: 8px;
  }

  .social-icon:hover{
    background-color: #155FFF;
    color: #ffff !important;
    cursor: pointer;
    border-radius: 5px;
  }