body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  .font-color-gray{
      color: #9c9c9c;
  }

  .font-color-green{
      color: #64e500;
  }

  .pt-5{
      padding-top: 5px;
  }

  .align-center{
    text-align: center !important;
  }

  .ml-4{
    margin-left: -4px;
  }

  .font-color-blue{
    color: #155FFF !important;
  }

  .fz-20{
    font-size: 20px;
  }

  .fz-15{
    font-size: 15px;
  }

  .mt-2{
    margin-top: 2px;
  }

/* This section contains footer styles */

  .page-footer{
    background-color: #091426 !important
  }

  .text-footer-item{
    letter-spacing: 2px;
    margin-bottom: 18px;
    text-transform: uppercase
  }

  .btn-register{
    margin-top: 5px;
    background-color: #155FFF;
    width: 131px;
    padding-left: 15px;
    border-radius: 12px;
  }

  .btn-register:hover{
    background: #64e500 !important;
  }

  .social-icon{
    width: 35px;
    height: 35px;
    padding: 8px;
  }

  .social-icon:hover{
    background-color: #155FFF;
    color: #ffff !important;
    cursor: pointer;
    border-radius: 5px;
  }

/* End footer styles */
