body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  .font-color-gray{
      color: #9c9c9c;
  }
   .bg-blue{
     background-color: #091426 !important;
   }
   .bg-grey{
     background-color: #F9F9F9;
   }
  .bg-green{
    background: #64e500 !important;
  }
  .font-color-green{
      color: #64e500;
  }

  .pt-5{
      padding-top: 5px;
  }
  .align-center{
    text-align: center !important;
  }

  .ml-4{
    margin-left: -4px;
  }

  .font-color-blue{
    color: #155FFF !important;
  }

  .fz-20{
    font-size: 20px;
  }

  .fz-15{
    font-size: 15px;
  }

  .mt-2{
    margin-top: 2px;
  }
  .active-green{
    background-color: #64e500 !important;
  }
  .icon-transform:hover{
    transform: scale(1.2);
  }